@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
body {
  padding: 2em 1em;
  margin: 0 auto;
  max-width: 48em;
  color: #555;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, strong {
  color: #222;
  margin-top: 2em;
  padding-top: 1em; }

h3 {
  margin-top: 1em; }

a {
  color: #00B7FF; }

/*# sourceMappingURL=style.css.map */